<div class="row drafts" >

    <ng-container *ngIf="transportationList.length > 0; else showLoading">

        <div class="drafts__box col-lg-3 mt-5" *ngFor="let item of transportationList">
            <div class="drafts__box__img">
                <fa-icon *ngIf="item.name === 'btr_shipment'" [icon] = 'faShippingFast'></fa-icon>
                <fa-icon *ngIf="item.name === 'btr_travel'" [icon] = 'faPassport'></fa-icon>

            </div>
            <div class="drafts__box__name">
                <p> {{ item.title }} </p>
            </div>
            <div class="drafts__box__amount">
                <!-- <span> jdlasjdslkad </span> -->
            </div>  
            <div class="drafts__box__button">
                <button class="main-button p-0" (click) = 'openModal(modalContent, item.title, item.name)'>Select</button>
            </div>    
        </div>

    </ng-container>

    <ng-template #showLoading>
        <div class="drafts__loading col-12 d-flex justify-content-center align-items-center">
            <app-loading-spinner></app-loading-spinner>
        </div>
    </ng-template>


    <ng-template #modalContent>
        <app-modal [title] = 'modalTitle'></app-modal>
        <!-- SHipping  -->
        <app-transportation-shipping *ngIf="categories.shipping"
                                    [allData] = 'transChildList'>
        </app-transportation-shipping>
        <!-- * * * Travel  -->
        <app-transportation-travel *ngIf="categories.travel"
                                    [allData] = 'transChildList'>
        </app-transportation-travel>
    </ng-template>

</div>