<div class="container-fluid h-100">
    <div class="row login align-items-center justify-content-between h-100">
        <div class="login__left col-md-6 pr-0">
            <div class="login-left__logo d-flex justify-content-end mt-3">
                <img src="assets/img/logo.png" alt="">
            </div>
            <div class="login__left__title col-12 mt-5">
                <h2>Short headline</h2>
                <h1>Join the hype</h1>
            </div>
            <div class="login__left__lang col-12 d-flex justify-content-center mt-4">
                <div class="login__left__lang__content col-xs-3 p-0">
                    <div    *ngIf="!isEngLangActive" 
                            class="login__left__lang__content__button d-flex align-items-center justify-content-center py-1 px-3" 
                            (click) = 'toggleLanguage("eng")'
                            > 
                            <div class="login__left__lang__content__button__icon mr-2">
                                <img src="assets/img/usa.svg" alt="usa">
                            </div>
                            <span>English</span>
                            
                    </div>
                    <div    *ngIf="isEngLangActive"
                            class="login__left__lang__content__button d-flex justify-content-center align-items-center py-1 px-3"
                            (click) = 'toggleLanguage("geo")'
                            >
                            <div class="login__left__lang__content__button__icon mr-2">
                                <img src="assets/img/geo.svg" alt="geo">
                            </div>
                            <span>Georgian</span>
                    </div>
                </div>
            </div>
            <form class="login__left__form col-12"  
                  [formGroup]="userForm" 
                  (ngSubmit)="onSubmit(userForm)">
                <div class="login__left__form__controls mt-4">
                    <input type="text" 
                           placeholder="Phone" 
                           class="default-input"
                           [ngClass]="{'error': isError, 
                                        'default-input': !isError }"
                           formControlName="msisdn">
                </div>
                <div class="login__left__form__controls mt-3">
                    <input class="password" 
                           type="password" 
                           placeholder="Password" 
                           class="default-input"
                           [ngClass]="{'error': isError, 
                                        'default-input': !isError }"
                           formControlName="pin">
                </div>
                <div class="login__left__form__button mt-4">
                        <button  *ngIf="!isSubmited; else showLoading"
                                  class="main-button" 
                                  type="submit">SIGNIN
                        </button>
                        <ng-template #showLoading>
                            <div class="login__left__form__button__loading">
                                <img src="assets/img/loading.svg" alt="">
                            </div>
                        </ng-template>
                </div>
                <div class="login__left__form__error col-12" >
                    <p *ngIf="isError"> {{ errorMessage }} </p>
                </div>
            </form>
            </div>
        <div class="login__animation col-md-6 w-100 h-100">
            <lottie-player slot="end" 
                            autoplay 
                            loop src="assets/img/Chat-Bot-Animation.json">
            </lottie-player>
        </div>

    </div>
</div>
