<div class="container-fluid h-100">
    <div class="row login align-items-center justify-content-between h-100">
        <div class="login__left col-md-6 pr-0">
            <div class="login-left__logo d-flex justify-content-end mt-3">
                <img src="assets/img/logo.png" alt="">
            </div>
            <div class="login__left__title col-12 mt-5">
                <h2>Short headline</h2>
                <h1>Join the hype</h1>
            </div>
            <form class="login__left__form col-12"  
                  [formGroup]="userForm" 
                  (ngSubmit)="onSubmit(userForm)">
                <div class="login__left__form__controls mt-4">
                    <input type="text" 
                           placeholder="Phone" 
                           class="form-control"
                           formControlName="msisdn">
                </div>
                <div class="login__left__form__controls mt-3">
                    <input class="password" 
                           type="password" 
                           placeholder="Password" 
                           class="form-control"
                           formControlName="pin">
                </div>
                <div class="login__left__form__button mt-4">
                        <button class="main-button" type="submit">SIGNIN</button>
                </div>
            </form>
            </div>
        <div class="login__animation col-md-6 w-100 h-100">
            <lottie-player slot="end" 
                            autoplay 
                            loop src="assets/img/Chat-Bot-Animation.json">
            </lottie-player>
        </div>

    </div>
</div>
