<div class="row top justify-content-end align-items-center py-2">
     <div class="top__img col-md-3">
        <div class="top__img__content">
            <img src="assets/img/logo.png" alt="">
        </div>
     </div>   

    <div class="col-md-9 d-flex justify-content-end">
        <div class="top-icon col-1">
            <div class="top-icon__img">
                <img src="assets/img/bell.svg" alt="">
            </div>
        </div>
    
        <div class="top-icon col-1">
            <div class="top-icon__img">
                <img src="assets/img/search.svg" alt="">
            </div>
        </div>
    
        <div class="top-icon col-1">
            <div class="top-icon__img">
                <img src="assets/img/burger.svg" alt="">
            </div>
        </div>

    
    </div>
</div>