<div class="row top justify-content-end mt-3 align-items-center">
    <div class="top-icon col-1">
        <div class="top-icon__img">
            <img src="assets/img/bell.svg" alt="">
        </div>
    </div>

    <div class="top-icon col-1">
        <div class="top-icon__img">
            <img src="assets/img/search.svg" alt="">
        </div>
    </div>

    <div class="top-icon col-1">
        <div class="top-icon__img">
            <img src="assets/img/burger.svg" alt="">
        </div>
    </div>
</div>