<div class="transactions row mt-5 w-100 -h-100">
    <div class="transactions__drafts col-lg-6">
        <div class="transactions__drafts__content">
            <div class="transactions__drafts__content__logo">
                <img src="assets/img/newsletter bw.svg" alt="">
            </div>
            <div class="transactions__drafts__content__title mt-3">
                <h4>Drafts</h4>
            </div>
            <div class="transactions__drafts__content__text mt-3 col-12">
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Repellat unde minima at 
                    beatae quae accusantium esse et fugit fuga perferendis possimus,
                     ducimus harum ea qui, iusto deserunt pariatur nulla non.</p>
            </div>
            <div class="transactions__drafts__content__button">
                <button class="secondary-button" (click) = 'routeToSelectedCategory("drafts")' >Select</button>
            </div>
        </div>
    </div>
    <div class="transactions__new col-lg-6">
        <div class="transactions__new__content">
            <div class="transactions__new__content__logo">
                <img src="assets/img/growth 2.svg" alt="">
            </div>
            <div class="transactions__new__content__title mt-3">
                <h4>New Transactions</h4>
            </div>
            <div class="transactions__new__content__text mt-3  col-12">
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Repellat unde minima at 
                    beatae quae accusantium esse et fugit fuga perferendis possimus,
                     ducimus harum ea qui, iusto deserunt pariatur nulla non.</p>
            </div>
            <div class="transactions__new__content__button">
                <button class="secondary-button" (click) = 'routeToSelectedCategory("new")'>Select</button>
            </div>
        </div>
    </div>
</div>   