<div class="user row justify-content-between">
    <div class="col-xl-2 user__img">
        <div class="user__img__content mr-3">
            <img src="assets/img/icons/Artboards_Diversity_Avatars_by_Netguru-20.svg" alt="">
        </div>
    </div>
    <div class="user__info col-xl-8">
        <p class="user-name"> {{ userPhone }} </p>
        <div class="">
            <p class="logout" 
               style="cursor: pointer;"
               (click) = 'signOut()'>Logout</p>
        </div>
    </div>
</div>