@import 'src/assets/variables'; 

.user { 

    &__img { 
        
        &__content { 
            width: 64px;
            height: 64px;
            background-color: $secondary;
            border-radius: 50%;

            img { 
                width: 100%;
                height: 100%;
            }
        }
    }; 

    &__info { 
        
        .user-name { 
            font-weight: bolder;
        }; 
        .logout {
            user-select: none; 
        }
        
    }; 

}