<div class="row drafts" >

    <ng-container *ngIf="telecomsList.length > 0; else showLoading">

        <div class="drafts__box col-lg-3 mt-5" *ngFor="let item of telecomsList">
            <div class="drafts__box__img">
                <fa-icon *ngIf="item.name === 'bt_phone_fixed'" [icon] = 'faPhone'></fa-icon>
                <fa-icon *ngIf="item.name === 'bt_phone_mobile'" [icon] = 'faMobile'></fa-icon>
                <fa-icon *ngIf="item.name === 'bt_tv'" [icon] = 'faTv'></fa-icon>
                <fa-icon *ngIf="item.name === 'bt_internet'" [icon] = 'faWifi'></fa-icon>
                <fa-icon *ngIf="item.name === 'bt_companies'" [icon] = 'faBriefcase'></fa-icon>

                
            </div>
            <div class="drafts__box__name mt-3">
                <p> {{ item.title }} </p>
            </div>
            <div class="drafts__box__amount m-0">
                <!-- <span> jdlasjdslkad </span> -->
            </div>  
            <div class="drafts__box__button">
                <button class="main-button p-0" (click) = 'openModal(modalContent, item.title, item.name)'>Select</button>
            </div>    
        </div>

    </ng-container>

    <ng-template #showLoading>
        <div class="drafts__loading col-12 d-flex justify-content-center align-items-center">
            <app-loading-spinner></app-loading-spinner>
        </div>
    </ng-template>


    <ng-template #modalContent>
        <app-modal [title] = 'modalTitle'></app-modal>
        <div class="modal-body">
            <app-telecoms-companies *ngIf="categories.companies"
                                    [allData] = 'telecomsChildList'>
            </app-telecoms-companies>

            <app-telecoms-internet *ngIf="categories.internet"
                                   [allData] = 'telecomsChildList'>
            </app-telecoms-internet>
            
            <app-telecoms-phone-fixed *ngIf="categories.phoneFixed"
                                      [allData] = 'telecomsChildList'>
            </app-telecoms-phone-fixed>
            
            <app-telecoms-phone-mobile *ngIf="categories.phoneMobile"
                                       [allData] = 'telecomsChildList'>
            </app-telecoms-phone-mobile>
            
            <app-telecoms-television *ngIf="categories.tv"
                            [allData] = 'telecomsChildList'>
            </app-telecoms-television>
        
        </div>
    </ng-template>


</div>