<div class="row drafts" >

    <ng-container *ngIf="financesList.length > 0; else showLoading">

        <div class="drafts__box col-lg-3 mt-5" *ngFor="let item of financesList">
            <div class="drafts__box__img">
                <img src="assets/img/Image.png" alt="">
            </div>
            <div class="drafts__box__name mt-3">
                <p> {{ item.title }} </p>
            </div>
            <div class="drafts__box__amount">
                <!-- <span> jdlasjdslkad </span> -->
            </div>  
            <div class="drafts__box__button m-0">
                <button class="main-button p-0" (click) = 'openModal(modalContent, item.title, item.name)'>Select</button>
            </div>    
        </div>

    </ng-container>

    <ng-template #showLoading>
        <div class="drafts__loading col-12 d-flex justify-content-center align-items-center">
            <app-loading-spinner></app-loading-spinner>
        </div>
    </ng-template>


    <ng-template #modalContent>
        <app-modal [title] = 'modalTitle'></app-modal>
        <div class="modal-body">
            <!-- * * * Banks * * *  -->
            <app-banks *ngIf="categories.banks"
                        [allData] = 'financeChildList'>
            </app-banks>
            <!-- * * * Electornic Money * * *  -->
            <app-electronic-money *ngIf="categories.elMoney"></app-electronic-money>
            <!-- * * * Electornic service * * *  -->
            <app-electronic-services-websites *ngIf="categories.elServices"></app-electronic-services-websites>
            <!-- * * * Insurance  * * *  -->
            <app-insurance-services *ngIf="categories.insuranceServices"
                                    [allData] = 'financeChildList'>
            </app-insurance-services>
            <!-- * * * Microfinance organizations * * *  -->
            <app-microfinance-organizations *ngIf="categories.microFinOrganizations"></app-microfinance-organizations>
        </div>
    </ng-template>

</div>