<form class="row pb-5" 
     [formGroup]="passwodrForm" 
     (ngSubmit)="onSubmit(passwodrForm)">
    <div class="col-12 d-flex justify-content-center mt-4">
        <input type="password" 
               placeholder="Current password" 
               class="default-input"
               formControlName="oldPassword">
    </div>
    <div class="col-12 d-flex justify-content-center mt-3">
        <input type="password" 
               placeholder="New password" 
               class="default-input"
               formControlName="newPassword">
    </div>
    <div class="col-12 d-flex justify-content-center mt-3">
        <input type="password" 
               placeholder="Confirm password" 
               class="default-input"
               formControlName="confirmPassword">
    </div>
    <div class="col-12 buttons d-flex justify-content-center mt-4">
        <div class="">
            <button class="main-button" type="submit">Change password</button>
        </div>
    </div>
</form>
