<div class="navigation row">
    <div class="navigation__user col-12 mt-5">
        <app-user-info-logout></app-user-info-logout>
    </div>
   
    <div class="navigation__item col-12 mt-5">
        <a [routerLink]="['home']" 
           routerLinkActive="active">Home</a>
    </div>

    <div class="navigation__item col-12 mt-3">
        <a [routerLink]="['drafts']" 
            routerLinkActive="active">Billing</a>
    </div>

    <div class="navigation__item col-12 mt-3">
        <a [routerLink]="['transactions']" 
            routerLinkActive="active">Transactions</a>
    </div>

</div>