@import 'src/assets/variables'; 

.navigation { 

    padding-left: 3rem;

    &__item { 
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        a { 
            color: $black;
            text-decoration: none;
            font-style: normal;
            font-weight: bold;
            font-size: 1.875rem;
            line-height: 2.75rem;
            cursor: pointer;
            user-select: none;

            &:hover { 
                transition: ease-in-out;
                color: $primary;
                text-decoration: none;
            }

        }
    }
}


.active { 
    color: $primary !important;

}