<div class="row drafts">

    <div class="drafts__box col-lg-3 mt-5">
        <div class="drafts__box__img">
            <img src="assets/img/Image.png" alt="">
        </div>
        <div class="drafts__box__name">
            <p>Telasi</p>
        </div>
        <div class="drafts__box__amount">
            <span>-130 GEL</span>
        </div>
        <div class="drafts__box__button">
            <button class="main-button p-0">Pay now</button>
        </div>    
    </div>


    <div class="drafts__box col-lg-3 mt-5">
        <div class="drafts__box__img">
            <img src="assets/img/Image.png" alt="">
        </div>
        <div class="drafts__box__name">
            <p>Telasi</p>
        </div>
        <div class="drafts__box__amount">
            <span>-130 GEL</span>
        </div>
        <div class="drafts__box__button">
            <button class="main-button p-0">Pay now</button>
        </div>    
    </div>

    <div class="drafts__box col-lg-3 mt-5">
        <div class="drafts__box__img">
            <img src="assets/img/Image.png" alt="">
        </div>
        <div class="drafts__box__name">
            <p>Telasi</p>
        </div>
        <div class="drafts__box__amount">
            <span>-130 GEL</span>
        </div>
        <div class="drafts__box__button">
            <button class="main-button p-0">Pay now</button>
        </div>    
    </div>


    <div class="drafts__box col-lg-3 mt-5">
        <div class="drafts__box__img">
            <img src="assets/img/Image.png" alt="">
        </div>
        <div class="drafts__box__name">
            <p>Telasi</p>
        </div>
        <div class="drafts__box__amount">
            <span>-130 GEL</span>
        </div>
        <div class="drafts__box__button">
            <button class="main-button p-0">Pay now</button>
        </div>    
    </div>


    <div class="drafts__box col-lg-3 mt-5">
        <div class="drafts__box__img">
            <img src="assets/img/Image.png" alt="">
        </div>
        <div class="drafts__box__name">
            <p>Telasi</p>
        </div>
        <div class="drafts__box__amount">
            <span>-130 GEL</span>
        </div>
        <div class="drafts__box__button">
            <button class="main-button p-0">Pay now</button>
        </div>    
    </div>


    <div class="drafts__box col-lg-3 mt-5">
        <div class="drafts__box__img">
            <img src="assets/img/Image.png" alt="">
        </div>
        <div class="drafts__box__name">
            <p>Telasi</p>
        </div>
        <div class="drafts__box__amount">
            <span>-130 GEL</span>
        </div>
        <div class="drafts__box__button">
            <button class="main-button p-0">Pay now</button>
        </div>    
    </div>

</div>